* { margin:0; padding:0; }
html,body {

    color: #666;
    font-family: "Microsoft YaHei", Arial;
    font-size: 14px;
    line-height: 22px;
    background: url(../../img/userInfo/resume_back.jpg) repeat fixed;
    background-size: cover;
    background-color: #222;
}
li { list-style-type:none;}
img{border: none;vertical-align:middle;}
a{color: #ededed;text-decoration: none;}

h2,h3,h4,h5{
    font-family:  "Microsoft YaHei", Arial;
    color: #229187;
}
.slogan h2{color: #fff;}
h2{font-size: 30px;line-height: 36px;margin: 10px 0 10px 0;}
h3{font-size: 24px;line-height: 30px;margin: 20px 0 10px 0;}
h4{font-size: 20px;line-height: 26px;margin: 20px 0 10px 0;}
h5{font-size: 18px;line-height: 24px;margin: 20px 0 10px 0;}

.left{ float: left;}
.right{ float: right;}
.clear{ clear: both;}

/*--------------------------------头部-------------------------------*/

.header{
    position: fixed;
    width: 40%;
    height: 100%;
    background-color: rgba(11,11,11,.1);
}

.bg{
    position: fixed;
    height: 100%;
    width: 60%;
    right: 0;
    top: 0;
    background-color: #fff;
    background-color: rgba(255,255,255,.95);
    z-index: 1;
}
.container{
    position: relative;
    width: 60%;
    height: 100%;
    left:40%;
    padding: 80px 80px 0 80px;
    box-sizing: border-box;
    z-index: 99;
}
.slogan,.logo,.footer{
    position: fixed;
    width: 35%;
    color: #f4f4f4;
    left: 0;
}
.slogan{
    text-align: right;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px rgba(22,22,22,.3);
}
.logo{
    top: 20%;
    text-align: right;
}
/*--------------------------------box-------------------------------*/
.box{
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #e2e2e2;
}
.box p a{
    display: inline-block;
    padding: 10px;
    margin-top: 8px;
    margin-right: 3px;
    border-radius: 3px;
    background-color: #229187;
    transition: 0.4s;
}
.box p a:hover{
    background-color: #212121;
}
.box img{
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
}
.title{
    font:50px/32px "微软雅黑",Arial;
    font-weight: 700;
    margin-bottom: 20px;
}
.title:before{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: -24px;
    top: 20px;
    display: inline-block;
    border-radius: 33px;
    background-color: #229187;
}
.box span{
    width: 120px;
    height: 120px;
    margin: 10px;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: #229187;
    color: #fff;
    line-height: 120px;
    display: inline-block;
    border-radius: 120px;
}
.info-box:after{
    content: "";
    display: block;
    clear: both;
}
.info-box{
    margin-top: 40px;
}

.box-img{
    width: 340px;
    float: left;
    margin-right: 30px;
}
.box-text{
}
.box-text img,.box-img img{
    width: 100%;
    opacity: 1;
    transition: 0.4s;
}
.box-img:hover img{
    opacity: 0.8;
}

/*--------------------------------footer-------------------------------*/
.footer{
    bottom: 40px;
    color: #ccc;
    box-sizing: border-box;

}
.footer p{
    text-align: right;
    font-size: 12px;
}
.follow { text-align: right;}
.follow a{ color: #ccc;}
.follow span{
    opacity: 1;
    padding: 4px;
    filter:alpha(opacity=100);
}
.follow span:hover{
    opacity: 0.7;
    filter:alpha(opacity=70);
}
.s-qq, .s-weixin, .s-weibo, .s-taobao, .s-tt{display: inline-block; width: 28px;height: 28px;background-repeat: no-repeat; background-position: center}
.s-qq{ background-image: url(../../img/userInfo/qq.png);}
.s-weixin{ background-image: url(../../img/userInfo/weixin.png);}
/*.s-taobao{ background-image: url(../../img/userInfo/taobao.png);}*/
/*.s-weibo{ background-image: url(../images/social/1/weibo.png);}*/
/*.s-tt{ background-image: url(../images/social/1/tt.png);}*/

/*--------------------------------响应式-------------------------------*/
@media screen and (max-width: 1280px) {
    h2{font-size: 24px;line-height: 30px;margin: 10px 0 10px 0;}
    h3{font-size: 18px;line-height: 24px;margin: 20px 0 10px 0;}
    h4{font-size: 16px;line-height: 22px;margin: 20px 0 10px 0;}
    h5{font-size: 14px;line-height: 20px;margin: 20px 0 10px 0;}
    .title{font-size: 30px;}
    .container {padding: 20px 60px 0 60px;width: 70%;left: 30%;}
    .header{
        position: fixed;
        width: 40%;
        height: 100%;
        background-color: rgba(11,11,11,.1);
    }

    .bg{
        width: 70%;
    }
    .slogan,.logo,.footer{
        width: 27%;
    }
}
@media screen and (max-width: 1023px) {
    .header,.container,.slogan,.logo,.footer,.bg{
        width: 100%;
        left:0;
    }
    .header{
        height: 400px;
        position: relative;
    }
    .container,.bg{
        position: relative;
        background-color: #fff;
    }

    .logo,.slogan {
        text-align: center;
        position: relative;
    }
    .footer{position: relative;z-index: 999;bottom: 0; background-color: #212121;padding: 40px;}
    .footer p,.follow {text-align: center;}
    .title{text-align: center;font-size: 24px;}
    .title:before{display: none;}
    .box{text-align: center;}
    .info-box {text-align: left;}
    .box span{font-size: 12px;width: 100px;height: 100px;line-height: 100px;}

}
@media screen and (max-width: 800px) {
    .slogan{letter-spacing: 0;}
    .header{height: 300px;}
    .container {padding: 20px 20px 0 20px;}
    .info-box {text-align: center;}
    .box-img {float: none;margin: 0 auto;width: 90%;}
    .box{margin-bottom: 20px;padding-bottom: 20px;}
}
