<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <body onload="">
	<div class="pr">
		<div class="fl width-long">
			$screen_content
		</div>
	</div>
</body>
</html>

<script type="text/javascript">
if(top.location == self.location){
	location.replace("/login.do");
}
</script>